## Client gitignore
## ------------------
##
## Dart
packages
web/out/*
build
pubspec.lock
.buildlog

## Compiled files
web/assets/compiled
app/assets/css


## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules